[2022-03-31 13:49] saltyblu commented on #339
We have 3 in place but no new ones there:
[code]

[2022-03-31 13:51] saltyblu commented on #339
I've also disabled health and readiness probe, directly after triggering an image-update-automation the pod dies and gets recreated :(

[2022-04-01 11:30] pjbgf commented on #342
@jdiegosierra do you mind confirming what version of `image-automation-controller` you are using?

[2022-04-01 16:18] rafaelperoco opened #344 "replace variable in imagepolicy marker line"
I'm creating templates for my helmreleases and everything is working fine using postBuild but, because imagepolicy marker is inside a comment, postBuild can't change the value of it.

You have any suggestions how to do it work?

[2022-04-02 02:13] demisx commented on #209
Done. Thank you very much for the detail instructions. I see most controller pods have been restarted. I will let you know if I run into any issues. This is what I have right now:

[code]

[2022-04-03 23:35] jdiegosierra commented on #342
@pjbgf

[code]

[code]

[2022-04-04 18:56] kingdonb commented on #344
I'm not sure what you tried exactly, but I'm sorry you're having difficulty with this!

The ImagePolicy marker must be placed in a comment alongside of a `key: value` pair and postBuild shouldn't have to set the value of it.

If you have a patch or kustomize overlay for each environment, you can put the imagepolicy marker there like in:
https://fluxcd.io/docs/guides/image-update/#configure-image-u

[2022-04-05 14:04] saltyblu commented on #339
after some debugging the container seems to silently fail somwhere below that code line . . .

[	var signingEntity *openpgp.Entity](https://github.com/fluxcd/image-automation-controller/blob/94a8d40b175e6b76a03a48900808c3116e6f2bba/controllers/imageupdateautomation_controller.go#L344)

[2022-04-07 00:07] jdiegosierra commented on #342
Is there any workaround? Maybe setting a stable version? I'm totally blocked with this and can't get any image to be upgraded automatically.

[2022-04-07 16:39] #344 closed

[2022-04-07 18:46] jdiegosierra commented on #342
For those who are blocked, I'm using Keel Tool together with Flux and it works fine. So I'm using Keel for image automation and Flux for infrastructure automation.

[2022-04-08 14:57] cbanciu667 commented on #342
I activated the experimental transport but now I get this error:

[code]

However the situation is a little better in the sense that the images are randomly updated. Sometimes yes, sometimes not.

[2022-04-08 17:11] nonylene commented on #271
Pod-level caching, cloning content on an emptyDir volume or some static tmp directory, may be also acceptable.

[2022-04-08 17:31] pjbgf commented on #342
I have recently merged [some fixes](https://github.com/fluxcd/source-controller/pull/658) on `source-controller` that should fix the `EOL` and `early EOF` for cached connections that became stale. Once a version is cut, I will be able to release a new image for `image-automation-controller` with those improvements.

In the mean time, I create a [draft PR](https://github.com/fluxcd/image-automation

[2022-04-08 17:39] nonylene opened #347 "Get repository content from source-controller"
Currently image-automation-controller clones git repositories from upstream server (i.e. github.com) at a specified automation interval. This tends to lead high-frequent git requests to upstream repository and some clone errors from upstream server perhaps for reasons of something like rate-limit.

If image-automation-controller could get repository content from source-controller for periodically

[2022-04-08 18:50] pjbgf commented on #271
Thank you @FLavalliere for creating your first issue on Flux! :tada:

I can think of two different ways that the controller could optimise its network usage, but the approach could differ depending on the use case.

#### 1) High number of changes
If a deployment has high number of changes (either new tags being created or new commits on the target repositories), a copy of the repositories locally

[2022-04-08 19:04] pjbgf commented on #347
Hey @nonylene thank you for your first issue at Flux! :tada:

Conceptually, I can understand the motivation for making `source-controller` the source of truth for such data within the cluster.
But I can see a few challenges with that approach:
- `source-controller` only keeps a view of the source repository, which is based on the exclusion of any files defined on `.spec.ignore`.
- No git index dat

[2022-04-08 19:32] pjbgf commented on #339
We have recently merged some fixes on `source-controller` but they haven't made their way into `image-automation-controller` yet. I managed to reproduce some of the issues you mentioned so I am assuming this may also resolve your situation.

The version below is working quite well with most Git providers when using SSH, with the exception of `BitBucket` and `Azure DevOps`. On that point, would you

[2022-04-08 21:42] brettstewart commented on #339
@pjbgf Github - I reviewed the draft PR, we will get an image spun up and report back.

Thanks for the quick update!

[2022-04-09 04:45] nonylene commented on #271
I see both approach can be good remedies for cloning issues :+1:.

In my setup, image-automation-controller checks 10~20 dev image registries against a medium size (~20MB) repository. Container registries and the target repository does not updated so frequently (1 new tag per a week in registries and a few new commit per a day in the repository). Currently this automation runs at a short interval

[2022-04-11 05:36] saltyblu commented on #339
Hi,
we'll also use the draft image to check if the issue still exists.

Currently we are using only Github Enterprise as git provider.

Thanks for the updates

[2022-04-11 12:19] saltyblu commented on #339
We used the updated image for half the day now and the issue seems not to be solved. The controller is able to update 1 or 2 ImageAutomations after a random time period the controller is failing silently again (means without any error logs)

[2022-04-13 07:13] pjbgf opened #349 "Improve documentation on debugging the controller locally"
The [DEVELOPMENT.md](https://github.com/fluxcd/image-automation-controller/blob/main/DEVELOPMENT.md) could be improved to help users trying to debug problems or reproduce reported issues.

Things we could expand on:
- Suspend objects that are irrelevant to the test at hand.
- Environment variables
  - `RUNTIME_NAMESPACE`: limit the namespaces being watched.
- Arguments
  - `--concurrent`: decreasi

[2022-04-13 12:03] annaken commented on #339
We were seeing exactly this behaviour in one of our clusters, and it seemed like the pod wasn't able to burst high enough, so  we increased the limits on the image-automation-controller to
[code]
and also increase the git source interval from 2m to 5m. We haven't had any crashes since then.

NB this is only happening in the cluster that has multiple git sources, including "include" sources. The cl

[2022-04-13 18:38] thedarkwriter commented on #339
Just to offer a second test, I'm using a single repo cluster and upped my resources like @annaken . Still a lot of crashes
[code]
But the images are eventually updated. So the image-automation-controller is still working, just not stable.

[2022-04-14 05:42] saltyblu commented on #339
We tested the image-automation-controller in a fully new created GKE Cluster with one additional repo beside the flux-sysrtem and it is still failing.

In our case the controller often misses updates, we downgraded the controller back to 0.20.1 for now. :(

[2022-04-14 13:47] cbanciu667 commented on #342
@pjbgf

I am using the image provided in step 2 in one of our clusters and I still see occasional errors like "unable to clone -  transport closed", as before, but they are reduced in number.

I will use this image in all our 4 clusters and test further the image updates. I will come back with feedback after 1-2 days.
Btw. we are using a technical git user with same ssh key across all clusters. Co

[2022-04-14 17:55] pjbgf commented on #342
@cbanciu667 thank you for testing and reporting back.

In terms of BitBucket's rate limiting, it will depend on the frequency of the calls. They do have a very high [limit for authenticated connections](https://support.atlassian.com/bitbucket-cloud/docs/api-request-limits/). As long as you don't reach their threshold, and are not generating too many authentication failures, you are less likely to

[2022-04-14 18:16] DaemonDude23 commented on #342
Yesterday I deployed the image mentioned in step 2. Same as with @cbanciu667 , there's a significant improvement with reduction of errors (I'm on BitBucket as well). I'm looking forward to upcoming releases containing these changes.

[2022-04-14 19:31] leehanel commented on #339
I added some tracing and built an image using the [above](https://github.com/fluxcd/image-automation-controller/issues/339#issuecomment-1093286835) method.  I seems to be silently crashing in https://github.com/fluxcd/image-automation-controller/blob/4d70651fbee5e06bf89e2d48a633f53a1415cd0d/controllers/imageupdateautomation_controller.go#L619

Specifically, i added these traces around it:

[code]

[2022-04-18 00:19] lictw commented on #313
@kingdonb I didn't fully understand your idea.. Cause of IUA wants to deal with yaml files, I didn't see way other than configmapGenerator, so I did it with generatorOption.disableNameSuffixHash and it's work fine.

About `every change to the configmap gets applied right away, because the configmap has a name with hash suffix`:
How? I can't apply this schema, my kustomize don't apply hash at confi

[2022-04-18 02:06] cbanciu667 commented on #342
After checking again the logs from our clusters, the SSH errors as bellow are still there, but the new images are committed somehow. The situation has improved so we will continue to use the provided testing image until further version/fix is released.

"logger":"controller.imageupdateautomation","msg":"Reconciler error","reconciler group":"image.toolkit.fluxcd.io","reconciler kind":"ImageUpdateAu

[2022-04-20 12:10] saltyblu commented on #339
I've tested the new image-automation-controller already and this did not solve the problem. The controller still crashes

[2022-04-21 20:47] ChrisJBurns opened #355 "[FEATURE]: Perform Image Verification Before Performing ImageAutomatedUpdates in Git"
## Problem

Currently, the way Flux works with regards to ImageAutomatedUpdates is that, when it detects a new image with a tag that matches the one set in the ImagePolicy, it will commit that new tag to Git, and then the other components of Flux will detect that a change has been made in Git that doesn't match the state of the cluster, and it reconciles it by deploying the new image. Whilst this

[2022-04-22 07:06] pjbgf commented on #355
@ChrisJBurns thank you very much for taking the time and thoroughly explaining the problem statement and feature suggestion.

I think we a few options here:

#### a) Implement Signature Verification in Image Automation Controller.
Pretty much what it says in the tin, and exactly as you explained it.
This could be cumbersome in cases where users already have (and need) that verification/enforcement

[2022-04-25 10:54] stefanprodan commented on #355
I'm not sure of the value of verifying the images before a Git push. What if the image tag is Ok at push time, but later on, that tag is overwritten by a bad actor? I feel like this feature would do more harm than good, users will consider that their images are safe since Flux has verified them, but it's just an illusion as Flux does not scan images at runtime, kubelet could pull a totally differe

[2022-04-25 19:12] kingdonb commented on #313
The example linked provides this snippet:

[code]

In this case, `spec/valuesFrom/name` is the path in the HelmRelease which Kustomize searches for values of secret (or configmap) names that are matching the secret (or cm) generator, so that Kustomize can substitute the generated name with the hash suffix there. That's what it looks like you're missing, you need to add:

[code]

or whatever name y

[2022-04-26 11:26] thulasidassrinivasan opened #357 "Image updates not happening"
Hi team,
I followed the document https://fluxcd.io/docs/guides/image-update/ and configured the things as stated however new image updates are not happening even though i have latest image

Kubernetes: AKS
Version:1.22.6
ImageRepository: ACR

Authentication from AKS to ACR is via docker secret created in AKS and same is configured to be used in ImageRepository.

[code]
Image policy
[code]

Registr

[2022-04-26 11:28] thulasidassrinivasan commented on #357
@pjbgf - Could you please help ?

[2022-04-26 12:06] pjbgf commented on #355
@ChrisJBurns I believe consumers of a given artefact are responsible for ensuring their validness and to perform anti-tampering checks.
I don't see why IAC would own signature verification, that sits better with an admission controller webhook instead, which aligns with what Stefan mentioned around TOCTOU issues.

However, IAC could have a feature/option in which it ignores unsigned tags (i.e. opt

[2022-04-28 05:57] johnp-stella opened #358 "Crash "panic: invalid pointer handle: loop" with EXPERIMENTAL_GIT_TRANSPORT = true"
When trying out the EXPERIMENTAL_GIT_TRANSPORT we are seeing a crash loop.  "panic: invalid pointer handle: loop" when pulling from github.

Have tried the experimental image from https://github.com/fluxcd/image-automation-controller/issues/339 without any success.

[code]

<details>
  <summary>image-automation-controller debug logs (</summary>

[code]

[2022-05-03 09:47] pjbgf commented on #186
The changes introduced on `v0.21.0` should fix this due to the upgrade of `libgit2` to `1.3.0`.

Closing this due to lack of activity, but happy to re-open in case users are still experiencing the issue on the latest versions of the controller.

[2022-05-03 09:47] #186 closed

[2022-05-03 09:53] pjbgf commented on #207
Closing this due to lack of activity. Happy to reopen in case the same issue is being experienced on the latest versions of the controller.

[2022-05-03 09:53] #207 closed

[2022-05-03 09:54] pjbgf commented on #209
@demisx have you experienced the issue again since the upgrade?

[2022-05-03 11:01] pjbgf commented on #357
@thulasidassrinivasan would you mind dialling up the trace so we can get more information about the reconciliations?
What are you getting when you run:

[code]

[2022-05-03 11:36] thulasidassrinivasan commented on #357
@pjbgf - Thanks for checking. I get no output when i run the command `flux get images all`

[2022-05-03 12:21] pjbgf commented on #281
Closing due to lack of activity. If the issue is still taking place, please comment again on the thread and I will re-open it.

[2022-05-03 12:21] #281 closed

[2022-05-03 12:28] pjbgf commented on #358
@johnp-stella thank you for creating the issue and sharing the error logs.

Can you confirm this is consistent? Does it generally take the same amount of time for it to crash after restart? Does it happen every single time? Does the changes ever get pushed back into the repository?

Are you using what SSH key type (e.g. `rsa`, `edcsa` or `ed25519`)?

[2022-05-03 12:44] pjbgf commented on #357
`flux get images all` should return all the image related flux objects you have in the namespace `flux-system`.
If you have created your image objects in another namespace you will have to specify it by using `-n <namespace>`.

[2022-05-03 13:03] thulasidassrinivasan commented on #357
@pjbgf  - I have created image objects inside flux-system namespaces only. I am sure I am missing something that the flux system not understanding about the images. strange thing is no error message also.

[2022-05-03 17:52] demisx commented on #209
@pjbgf So far, so good. 🤞🏻  If I post notice any issues, I'll make sure to post here right away.

[2022-05-04 00:39] johnp-stella commented on #358
1.) It is consistently crashing
[code]

2.) The timing is similar but not exact - and does not crash the same point each time
[code]

3.) It is pushing changes to repo - as the point it crashes is not consistent so is sometimes able to progress to a push.
4.) SSH key for github
[code]

[2022-05-04 01:22] johnp-stella commented on #358
I tied changing the GitHub ssh key type to ED25519 - Still saw the controller crashing

[2022-05-05 11:18] cbanciu667 commented on #342
Hi @pjbgf ,

Does it makes sense to keep this issue opened ? From my side, even if the random errors are there,  the images get updated somehow and the CD part seems to work without any issue since 2 feels ago. Which is the most essential part.
You know better what is required from the coding side or if there are any pending changes.

Thanks a lot.

Cos

[2022-05-05 12:54] pjbgf commented on #342
@cbanciu667 happy to go ahead and close it.

We will keep tracking the overall improvements on the Git implementation on the linked issue.

[2022-05-05 12:54] #342 closed

[2022-05-05 13:06] pjbgf commented on #298
As mentioned above, version `v0.21.0` should have fixed this.

Closing for lack of activity. If the error persists on the latest version of `image-automation-controller` we can reopen/revisit the issue.

[2022-05-05 13:06] #298 closed

[2022-05-06 16:20] Frizlab opened #361 "Image Policy not in same ns as image update automation are ignored"
Setup:
- In the `flux-system` repo, I have an image update automation, and an image repository;
- In another ns (let’s say `myapp`), I have an image policy;
- I added the following annotation on some of yaml files in the repo: `# {"$imagepolicy": "myapp:mypolicy"}`.

The annotation is discovered by the image automation controller (I read the automation controller logs in trace mode), but it does n

[2022-05-06 18:53] pjbgf commented on #357
@thulasidassrinivasan given that you are getting anything out of `flux get images all`, sounds like `ImageUpdateAutomation`, `ImagePolicy` and `ImageRepository` are not present in the `flux-system` namespace.

Can you please try `flux get images all -A` and see whether they are found anywhere else within the cluster?
Also, to get more information about the controller, more detailed reconciling log

[2022-05-06 21:03] pjbgf commented on #358
I was not able to reproduce this issue yet, but I have made a few changes recently and would be keen to see whether you still experience the same problem in your environment.

Here are two images created with latest source controller (which includes panic recovery) plus the removal of ssh connection caching. And the image-automation-controller using said source-controller version:
[code]

More det

[2022-05-06 21:06] pjbgf commented on #339
@saltyblu I am working on a few changes, some are already merged into source-controller (panic recovery), others are on an [open PR](https://github.com/fluxcd/source-controller/pull/713).

Would you mind testing it again with the following images and see whether you still experience the crashes?
[code]

More details on:
https://github.com/fluxcd/source-controller/pull/713#issuecomment-1120001550

[2022-05-06 21:49] pratikbin commented on #159
Facing same issue. Using flux stack `0.30.2` on EKS `v1.21.5-eks-bc4871b`,

on describing `imageupdateautomation` object, `no updates made`

<img width="486" alt="image" src="https://user-images.githubusercontent.com/68642400/167220752-aad377d4-5da9-4027-a042-b1a71ec84624.png">

[2022-05-07 07:13] hairongGao commented on #306
Hi @kingdonb ,
Thanks for kind reply,  turns out this issue was caused by not specifying the right email address since our repo has rules for that. But it really took me quite some time to troubleshoot , there is only success logs everywhere 😂. So maybe this case is not what you expect but for beginners like me would really appreciate " Trace " log if possible .
Oh and feel free to close this issu

[2022-05-09 10:30] thulasidassrinivasan commented on #357
@pjbgf Thanks for helping. I was digging deep and i found that imagerepository was not working as expected because of misconfiguration from my side. I corrected it and all looks superb now. 👍 💯

[2022-05-09 10:51] pjbgf commented on #357
Excellent news @thulasidassrinivasan, I am happy that is now resolved.

I'm closing the issue, but feel free to reach out on Flux's CNCF Slack or via a new issue in case you need more help. :+1:

[2022-05-09 10:51] #357 closed

[2022-05-10 08:05] saltyblu commented on #339
Both images are source-controller images.

Starting the "image-automation-controller" seems to be a source-controller image

[2022-05-10 23:11] johnp-stella commented on #358
Thanks @pjbgf The experimental docker images above have fixed the crashing issue. It has been stable and seems to be working as expected.

[2022-05-12 17:43] kingdonb commented on #358
Thanks for the information! I'm going to assign this to @pjbgf so it can be closed. 👍

[2022-05-12 17:50] kingdonb commented on #361
I wonder if you have set `--no-cross-namespace-refs=true` according to the [bootstrap cheatsheet](https://fluxcd.io/docs/cheatsheets/bootstrap/#multi-tenancy-lockdown)? It seems if that was the case, and it was blocking this, then you would find a hint about it in the `image-automation-controller` logs.

If not, then cross-namespace references should be allowed, but you might have missed that you

[2022-05-12 17:59] #358 closed

[2022-05-12 20:18] pjbgf commented on #282
@maxbrunet we have made some improvements that may fix the issue you are experiencing. I have a release candidate for source-controller (below) that is based on a [pending PR](https://github.com/fluxcd/source-controller/pull/713).

Can you please test the image below and let us know whether that fixes your problem?
`ghcr.io/fluxcd/source-controller:rc-6d517589`

[2022-05-12 21:51] maxbrunet commented on #282
Hey @pjbgf, no, sorry, I used Flux with my previous employer, and I am not working with it at the moment

[2022-05-14 11:37] kingdonb commented on #361
I found a different thread where it's made clear, yes. I think the ImageUpdateAutomation still has to be in the same namespace as the ImagePolicy. This wasn't clear to me until I read this thread: https://github.com/fluxcd/flux2/discussions/2702

[2022-05-16 08:20] Frizlab commented on #361
Ha! Good to know. I wonder why…
Anyway, I’m closing this issue as it seem to be working as expected.

[2022-05-16 08:20] #361 closed

[2022-05-16 12:52] BertelBB commented on #339
Also experiencing this with latest version of Flux. Downgrading image-automation-controller to v0.20.1 resolves the issue

[2022-05-16 16:22] leszczynskimikolaj opened #363 "[FEATURE] ImageUpdateAutomation: compare image tag timestamp before override"
### Problem
I would like to do the image tag substitution if and only if the timestamp of the newly discovered image is greater than the one that is found in yaml spec. I'm aware that the the ImagePolicies and ImageRepository can be configured to sort the tags in asc/desc numerical order but in my case, it is not enough and results in substitutions I don't want to be applied.

### Question
Would i

[2022-05-16 17:30] pjbgf commented on #339
@saltyblu here are official release candidates for both `source-controller` and `image-automation-controller` that contains the recently merged cacheless connections and panic recovery changes. We are working on a few more changes which should be ready for the next release, but I thought I would share this version to check whether it already makes a different on your setup:
[code]

@leehanel @Bert

[2022-05-17 08:24] pjbgf commented on #339
@BertelBB the `gitImplementation` is set only for `source-controller`. Since version  [v0.21.0](https://github.com/fluxcd/image-automation-controller/blob/main/CHANGELOG.md#0210) the image automation controller uses only `libgit2`, but that should not make any changes to your setup.

Please revert to the last working version whilst I investigate this.

[2022-05-17 10:01] pjbgf commented on #159
@kallaics have you tried enabling managed transport yet? This is something we added recently that focuses on improves Git connections.

You just need to get your controller pod to have the environment variable `EXPERIMENTAL_GIT_TRANSPORT=true`, and that should suffice to enable it. From the next release this will no longer be required as it will be enabled by default.

More information:
https://fl

[2022-05-17 12:23] kallaics commented on #159
Good question. Nobody write the way how can we inject this variable. `flux bootstrap gitlab --help` command and the linked documentation also not contains any helpful information regarding to this .

It's enough only just on my local shell before the I will run the bootstrap like
[code]

OR
I need to inject somehow the bootstrap command

[code]

command as flag or something similar.
Do you know th

[2022-05-17 12:34] kallaics commented on #159
The first update caused an issue:

[code]

Additional information the URL doesn't contains `.git` at the end of the URL and the endpoint is Gitlab.

[2022-05-18 12:07] kingdonb commented on #363
Is it possible for you to tag the images with the timestamp?

The main complicating factor of implementing your request I think would be that Flux doesn't really store the image metadata for any images now. We depend on the tag to be sortable, as described in [Sortable Image Tags](https://fluxcd.io/docs/guides/sortable-image-tags/) because pulling the metadata is expensive, and pulling the timesta

[2022-05-18 13:17] leszczynskimikolaj commented on #363
@kingdonb I indeed tag my images with the timestamp and use the sorting provided by ImagePolicies. The case is that from time to time I also make a manual change on the marked line with the image I build in my pipeline. Then after a moment, this change gets overriden by the IAC with the image whose tag is indeed the latest one according to my filterPattern policy but its timestamp is smaller than

[2022-05-19 16:53] pjbgf opened #364 "Roll out new unified standards to Image Automation Controller"
High-level points covered on this:
- Roll-out new Flux Controller best practices, based on [K8S API Conventions](https://github.com/kubernetes/community/blob/master/contributors/devel/sig-architecture/api-conventions.md).
- [KStatus](https://github.com/kubernetes-sigs/cli-utils/blob/master/pkg/kstatus/README.md) aligned with the one implemented on [source-controller](https://github.com/fluxcd/sour

[2022-05-19 20:00] kingdonb commented on #363
Very sorry I believe I misinterpreted your description here. Flux doesn't consider the image definition or the tag that is present in the cluster or in the git repository prior to reconciling the ImageUpdateAutomation, it is simply asserting the current latest version into the manifest.

If you are saying that you had a newer image in the cluster but Flux overwrites it with an older one, there are

[2022-05-19 20:18] leszczynskimikolaj commented on #363
@kingdonb thank you so much for your answer. Let me give you more detailed explanation of more less my case.
1. I have the image policy that is looking for all images with my naming schema of <service name>-<branch name>-<commit sha>-<timestamp> .
2. IUA controller works great.
3. Let's assume the latest tag found(and the substituted to my yaml) by IAU is `service-main-sha-123`.
4. I use the times

[2022-05-20 08:33] pjbgf opened #365 "SSH could not read data: Error waiting on socket"
FluxCD version: 0.30.2

Output of `flux check`

[code]

Output of `flux version`
[code]

ImageUpdateAutomation not working, the image-automation-controller's logs  says:

[code]

It looks like cannot write back the changes.
Thanks for help.

_Originally posted by @kallaics in https://github.com/fluxcd/image-automation-controller/issues/159#issuecomment-1128623682_

[2022-05-20 08:33] pjbgf commented on #159
@kallaics I think the problem you are experiencing is slightly different than the one reported on this thread. So I created a new issue for it: https://github.com/fluxcd/image-automation-controller/issues/365

[2022-05-20 14:05] cbanciu667 commented on #365
Hi,

After 2 weeks in which we no issue with this problem, now it surfaced again (probably due to increased activity from devs).

Kubernetes v1.22
FluxCD version v0.30.2
ImageAutomationController: v0.22.1
Git repository: 12MB, hosted in Bitbucket, usual FluxCD structure, nothing special like many objects etc.
Other specifics:
- same SSH key and Bitbucket user are used for ~10 clusters
- tried to r

[2022-05-20 15:10] kingdonb commented on #363
@leszczynskimikolaj Yes perfectly clear.

I would suggest rather than writing a commit manually ahead of IUA, you should set up a Webhook Receiver for your ImageRepository. This will ensure it reconciles immediately after a tag is pushed to the Image Repo. It is as I suspected – the ImageUpdateAutomation interval arrives before the ImageRepository interval does, and when it reconciles, it only rec

[2022-05-25 05:09] #205 closed

[2022-05-25 14:18] pjbgf opened #367 "Update Image Automation Spec documentation based on source-controller standard"
The Source Controller has examples on how the new conditions should be documented:
- [Git Repository Conditions].
- [Helm Repository Conditions].
- [Helm Chart Conditions].

[Git Repository Conditions]: https://github.com/fluxcd/source-controller/blob/main/docs/spec/v1beta2/gitrepositories.md#conditions
[Helm Repository Conditions]: https://github.com/fluxcd/source-controller/blob/main/docs/spec/v

[2022-05-27 20:58] pjbgf opened #370 "Test Managed Transport"
The Git related tests must be refactored to ensure the Managed Transport is being used.
Given that a lot of the testing logic is based on `git2go`, by enabling the Manage Transport of the controller we are also changing the behaviour of the tests themselves.

Extra points to consider:
- `libgit2` checkout func now have the side effect of removing the Transport Options even if they were added by th

[2022-05-27 21:59] pjbgf commented on #339
@BertelBB @saltyblu we have made quite a few changes on the latest release candidates. Do you mind giving it another try and let us know how you get on?

`ghcr.io/fluxcd/source-controller:rc-4b3e0f9a`
`ghcr.io/fluxcd/image-automation-controller:rc-48bcca59`

[2022-05-27 22:04] pjbgf commented on #334
@jiphex do you mind checking whether you can still reproduce this with out latest release candidate?
`ghcr.io/fluxcd/image-automation-controller:rc-48bcca59`

This RC is based on #369, therefore you no longer need to set the environment variable to enable the experimental transport, as Managed Transport will be enabled by default.

[2022-05-27 22:10] pjbgf commented on #225
The controller has changed substantially since the version in which this problem materialised. As mentioned above, this should no longer happen on the latest versions.

Closing this for lack of activity, but happy to reopen in case of recurrence in the latest release.

[2022-05-27 22:10] #225 closed

[2022-05-27 22:15] pjbgf commented on #209
We have a new release candidate that further improve the controller:
`ghcr.io/fluxcd/image-automation-controller:rc-48bcca59`

Two important changes a) Managed Transport is enabled by default and context timeouts are now enforced.

[2022-05-27 22:19] pjbgf commented on #365
@kallaics @cbanciu667 we have two new release candidates that further improves the reliability of both controllers. Please give it a try and let us know how you get on:

`ghcr.io/fluxcd/source-controller:rc-4b3e0f9a`
`ghcr.io/fluxcd/image-automation-controller:rc-48bcca59`

Overall this issues are intermittent and will be recovered from eventually. But the changes should further decrease the likel

[2022-05-27 22:22] pjbgf commented on #228
We have extensively increased our test coverage in the last while, which leads me to think this is no longer a problem.

Closing for lack of activity, happy to reopen in case of further reports of the controller not being able to clone GitHub Enterprise repositories.

[2022-05-27 22:22] #228 closed

[2022-05-27 22:23] pjbgf commented on #282
@maxbrunet no worries, thank you for all the help so far.

[2022-05-27 22:25] pjbgf commented on #282
This should be fixed as part of the managed transport improvements and the enforcement of context timeouts.
Release candidates for both controllers:

`ghcr.io/fluxcd/source-controller:rc-4b3e0f9a`
`ghcr.io/fluxcd/image-automation-controller:rc-48bcca59`

[2022-05-27 22:27] pjbgf commented on #296
This should be fixed as part of Managed Transport being made default. Latest release candidates with this changes:

`ghcr.io/fluxcd/source-controller:rc-4b3e0f9a`
`ghcr.io/fluxcd/image-automation-controller:rc-48bcca59`

Closing for lack of activity - happy to reopen in case others report recurrence.

[2022-05-29 09:48] pjbgf opened #371 "Timeout enforcement"
Image Automation Controller does not have a `Spec.Timeout`, as most other controllers do, instead it applies the `Spec.Timeout` set in the referred source, and uses that timeout for each Git related operation.

However, in some cases the reconcilation seems to get stuck for long periods of time (based on the `gotk_reconcile_duration_seconds_sum` metric):
![image](https://user-images.githubusercont

[2022-05-30 07:02] BertelBB commented on #339
@pjbgf I've tested both images and both run fine until a new image becomes available and the ImageUpdateAutomation object is reconciled, at that point the `image-automation-controller` crashes. Reconciling either an ImageRepository or the ImageUpdateAutomation object when there are not updates did not result in a crash.

[2022-05-30 16:51] cbanciu667 commented on #365
Hi,

We have new errors on our 12 clusters after updating to the new docker images:

`2022-05-30T04:58:13.273Z error ImageUpdateAutomation/flux-system.flux-system - Reconciler error cannot push non-fastforwardable reference
2022-05-30T05:09:29.429Z info ImageUpdateAutomation/flux-system.flux-system - pushed commit to origin
2022-05-30T05:25:58.273Z info ImageUpdateAutomation/flux-system.flux-syste

[2022-06-06 04:39] aryan9600 commented on #339
Hi @BertelBB, would it be possible for you to post the crash log? Also, we released `ghcr.io/fluxcd/image-automation-controller:v0.23.0`, late last week, which potentially fixes the crash, so it'd be great if you could take that for a spin, and check if the controller still crashes. Thanks!

[2022-06-06 16:56] aryan9600 commented on #365
Hi @cbanciu667, flux2 `v0.31.0` has been released with a fix for this problem. Would you mind upgrading and sharing your findings here? Thanks!

[2022-06-07 02:52] jmriebold opened #378 "SSH host key errors with v0.23.0"
Updated to Flux v0.31.0 today (from v0.30.2) and as soon as there was something to commit, the image-automation-controller immediately started throwing errors about the SSH host key failing verification. For example:

[code]

For context, our Flux repo is configured to use SSH, and we supply a known_hosts file along with the SSH key in our flux-system secret. In addition, we've been running the im

[2022-06-07 04:34] cbanciu667 commented on #365
Hey @aryan9600, I updated flux yesterday on all our clusters, did some test deployments, but since the update I could not find any error related to ImageAutomation. Looks much better. From my side this bug can be closed.

[2022-06-07 07:24] aryan9600 commented on #378
hi @jmriebold, could you share more information about this, like the contents of the `known_hosts` file and the encryption algorithm used for the private key? Also, could you try and see if switching to the git implementation to `go-git` helps? If you own the ssh git server, I think turning on verbose logging, and posting the logs here, could also help us understand why the handshake fails? Thanks

[2022-06-07 08:33] #365 closed

[2022-06-07 11:18] hoexter commented on #339
v0.23.0 did not change anything for us, it keeps on crashing

[2022-06-07 11:20] aryan9600 commented on #339
@hoexter could you post the full crash log here, if possible?

[2022-06-07 12:05] sisid-github opened #379 "unable to fetch remote '<gitlab-project-url>': Unhandled HTTP error 422 Unprocessable Entity with v0.23.0"
Hi,

I encountered an issue running the image-automation-controller v0.23.0 after the flux v0.31.0 update.

#### Flux info
[code]

I am bootstrapping using a private Gitlab repo

#### Issue
After the update, the image automation controller (v0.23.0) showed the following error:
`unable to fetch remote '<gitlab-project-url>': Unhandled HTTP error 422 Unprocessable Entity`

Reverting to previous Flux

[2022-06-07 12:40] ViBiOh commented on #378
I encounter the same issue here with Github. How can I enable `go-git` to test?

I refreshed my `known_hosts` value to try fix it.

[code]

[2022-06-07 12:59] pjbgf commented on #379
@sisid-github thank you for reporting this, we are working on a fix for this and will let you know once you have more information.

[2022-06-07 14:08] agrib-01 commented on #339
@aryan9600 this is the full log.
[debug_log-image-automation-controller.txt](https://github.com/fluxcd/image-automation-controller/files/8853906/debug_log-image-automation-controller.txt)

[2022-06-07 14:28] #379 closed

[2022-06-07 14:32] aryan9600 commented on #339
Hi @agrib-01, are there no crash logs when the controller restarts? You can get the logs of the previous pod via `kubectl logs -n flux-system -l app=image-automation-controller --previous`

[2022-06-07 14:38] pjbgf commented on #379
@sisid-github the fix is now merged onto source controller and soon it will make its way to image automation controller.

We should release new docker images for both Today.

[2022-06-07 14:40] aryan9600 commented on #378
@jmriebold @ViBiOh is it just IAC which is failing like this, or do you observe the same issue in source-controller as well?

[2022-06-07 14:49] aryan9600 commented on #378
@ViBiOh IAC can't use `go-git`, it uses `libgit2` only. Are you complaining about source-controller instead? If so, could you share the error logs of source-controller? Thanks!

[2022-06-07 15:08] ViBiOh commented on #378
The reconciliation problem only occurs on ImageAutomation, here an example of logs

[code]

[2022-06-07 17:00] nniehoff commented on #378
I enabled debug logging on the source controller and the debug logs simply echoed the error logs.  As a workaround I simply reverted the IAC to `0.22.1` and the automation reconciled fine.

[2022-06-07 17:09] stefanprodan commented on #378
To reproduce this we'll need the details on how you've create a SSH key, I guess it wasn't generated with the Flux CLI.

[2022-06-07 17:43] nniehoff commented on #378
I just created my key a couple of days ago for this so I used:

[code]

I generated the known_hosts with `ssh-keyscan github.com` which rendered:

[code]

identity:

[code]

identity.pub:

[code]

[2022-06-07 18:02] ViBiOh commented on #378
I have the same kind of SSH key (ed25519), generated manually and pushed into the git repository secret.

[2022-06-07 18:25] ViBiOh commented on #378
So, I have two `ImageUpdateAutomation`. The `github-ssh` is generated from a script (so they are the same).

First one is in namespace `monitoring`, that use the `GitRepository` in the `flux-system` (namespace of controller btw). This one works with the latest version.

[code]

Another automation with all things in the namespace `default`, this one doesn't work.

[code]

I've removed extra details

[2022-06-08 00:29] freefood89 opened #382 "Image update automation appending instead of replacing"
Hello, I'm experiencing issues with image update automation where the latest tag is being appended to the image tag instead of replacing it.

version: `ghcr.io/fluxcd/image-automation-controller:v0.22.1`

The tag in the original manifest is `gcr.io/xyz/crasample:develop-deadbeef-0`, the latest tag is `gcr.io/xyz/crasample:develop-deadbeef-3` and the automation result is `gcr.io/xyz/crasample:devel

[2022-06-08 07:04] BertelBB commented on #339
In my case there are no crash logs either. It was the same with previous versions, just regular boring logs and then crashes with no information why.

[2022-06-08 07:17] stefanprodan commented on #382
Can you post here your ImageRepository YAML please.

[2022-06-08 07:54] agrib-01 commented on #339
Hi @aryan9600  it is like @BertelBB  sayed.
The log I shared with you contains all informations we got from the image-automation-controller.
Even in debug mode fails the image-automation-controller silently.
Just the event information shows that the  Readiness probe failed.

[code]

[2022-06-08 11:13] #378 closed

[2022-06-08 12:01] pjbgf commented on #209
Closing this based on similar reports from users that confirmed this is no longer happening. If that changes we can always reopen the issue.

[2022-06-08 12:01] #209 closed

[2022-06-08 12:23] pjbgf commented on #378
We have just released a new image with the fix: `ghcr.io/fluxcd/image-automation-controller:v0.23.2`.
Please let us know in case it does not fix your issue.

[2022-06-08 15:09] aryan9600 commented on #339
Hi @agrib-01 @BertelBB, we have a rc image `ghcr.io/fluxcd/image-automation-controller:rc-c3b2389f` which increases logging and has a minor change attempting to fix this. Due to the lack of crash logs, please note this is very much a shot in the dark. It'd be great if you could use this image with **trace logging enabled**, and report your findings here. Thanks!

[2022-06-08 15:10] jmriebold commented on #378
Thanks all!

[2022-06-08 15:51] pjbgf commented on #334
A fix is now being tested, should be released soon. The goroutines number for the same setup are now steady under 100, which is a great improvements from the 1500+ on the previous graph.

![image](https://user-images.githubusercontent.com/5452977/172661598-2c0affac-de61-46d5-817f-e6839a3c2671.png)

[2022-06-09 06:48] thulasidassrinivasan opened #387 "Flux not updating images in multiple namespace"
Hi Team,

I have created ImageRepository, ImagePolicy, ImageUpdateAutomation in flux-system namespace.

I have same application running in two different namespace and both are having the same policy marker.

Application A - namespace A
Application A - namespace B

Flux only updates the application running in namespace A but ignores it in namespace B. I am not able to understand the reason. How to

[2022-06-09 06:56] stefanprodan commented on #387
I guess the manifests for namespace B are not found in the update path:

[code]

[2022-06-09 07:05] thulasidassrinivasan commented on #387
@stefanprodan  - Thanks for checking this.

aha that's is the problem i think. Can i add two paths here ?  if so how to do that ? any document i can refer ?

[2022-06-09 07:10] stefanprodan commented on #387
No you can't, the `ImageUpdateAutomation` like a Flux `Kustomization` accepts a single path, it can be the Git root.

[2022-06-09 07:13] thulasidassrinivasan commented on #387
ah ok. If I set it at root it should be no problem as flux only updates where it find the policy marker ? .  Is my understanding correct ?

[2022-06-09 07:14] stefanprodan commented on #387
Yes but I would recommend setting the path to the cluster dir, and in there all Flux `Kustomization` should have `spec.images` where you place the markers.

[2022-06-09 07:18] thulasidassrinivasan commented on #387
Great. Thanks a lot of quick help 👍 💯  I will work on it.

[2022-06-09 07:25] #387 closed

[2022-06-09 11:48] pjbgf commented on #282
Closing this for lack of activity. Similarly reported issues have been confirmed to be fixed.

Now with Managed Transport enforcing timeouts for Git operations, this should be resolved.

If it reoccurs, given the sheer amount of changes that happened on the Git implementation in the last 6 months, we are better off creating a new issue, linking back to this one.

[2022-06-09 11:48] #282 closed

[2022-06-10 16:10] pjbgf commented on #334
We have a release candidate version with the fix:
`ghcr.io/fluxcd/image-automation-controller:rc-843074dd`

[2022-06-13 06:26] agrib-01 commented on #339
Hi @aryan9600 this is the log output.

[trace_log.IAC.txt](https://github.com/fluxcd/image-automation-controller/files/8888445/trace_log.IAC.txt)

[2022-06-13 06:33] aryan9600 commented on #339
Hi @agrib-01, thank you for you help. Just wanted to confirm (to prevent any confusion) that the `.txt` file you shared above has all the logs right until the controller crashed?

[2022-06-13 06:55] agrib-01 commented on #339
Hi @aryan9600 thanks for the quick reply.
In the file i shared above are all logs until the pod crashed.

[2022-06-13 11:11] ywyt738 opened #390 "Too many ssh connection"
[code]
The connection will increase infinity.

version: ghcr.io/fluxcd/image-automation-controller:v0.23.2

[2022-06-13 11:32] pjbgf commented on #390
@ywyt738 thank you for reporting this issue. This is related to #334 and we have recently created a release candidate with a fix:

`ghcr.io/fluxcd/image-automation-controller:rc-843074dd`

The next patch (v0.23.3) should be released Tomorrow with this fix.

[2022-06-13 14:16] dewe commented on #339
We are also having the same issue, the controller is crash looping with

[code]

Downgrading the controller to `v0.20.1` is our current workaround.

[2022-06-13 16:28] aryan9600 commented on #339
Ho @agrib-01 @dewe @BertelBB , we have another rc image: `[rc-c8fb1b73]`(https://github.com/orgs/fluxcd/packages/container/image-automation-controller/25359681?tag=rc-c8fb1b73), which might be able to fix this issue and/or give more insight into what's going wrong. It'd be great if you could deploy this image with **trace logging enabled** and post your logs here. Thanks!

[2022-06-14 07:39] dewe commented on #339
Still crashing with `rc-c8fb1b73`. In our case there's only one image automation that cause has problems, others are working well.

Here's the last part of the trace logs...

[code]

There were no relevant events at the time of the crash.

[2022-06-14 10:17] aryan9600 commented on #339
Hi @dewe @agrib-01 @BertelBB, thanks to the various logs posted by you all, we think the issue is tied to how we add updated files to the git index (i.e., the `git add` command). Since this issue presents itself only in very specific scenarios, we think it might be related to something about the repository itself(too many files updated, symlinks, etc.)
We have another rc: [`rc-3beb7911`](https://g

[2022-06-14 13:37] dewe commented on #339
More logs. Still crashing.

[code]

[2022-06-14 13:48] agrib-01 commented on #339
Hi @aryan9600 here are the log output with the rc-3beb7911 Image.
[rc-3beb7911_trace_log.txt](https://github.com/fluxcd/image-automation-controller/files/8900328/rc-3beb7911_trace_log.txt)

[2022-06-14 14:04] aryan9600 commented on #339
Hello @agrib-01, thank your for your continued help. 😄
So going through the logs, it looks like the controller crashes while trying to add only one file, named `clusters/pt-dev/workload/example/example-nginx/component.yaml` to the git index, which is very weird. Would it be possible for you to share the contents of the file? Please feel free to redact any private info.

[2022-06-14 14:22] hoexter commented on #339
@aryan9600 This is just our test case to replicate the failure. Definitions are of course very similar and everything is hosted at GitHub.

[code]

[2022-06-15 05:38] saltyblu commented on #339
Hi, @hiddeco,
this is the exact file:
[component.yaml.zip](https://github.com/fluxcd/image-automation-controller/files/8905950/component.yaml.zip)

[2022-06-15 09:02] aryan9600 commented on #339
Hi @saltyblu @hoexter @BertelBB @dewe, which k8s provider are you using? I tried replicating the issue with the exact file along with similar repo structure on kind, and the controller is working fine. Do you mind confirming that the controller crashes with the same setup when running on a kind cluster as well? Thanks for your help 😄

[2022-06-16 13:19] pjbgf opened #394 "Pushing changes to bitbucket.org yields `early EOF`"
**Description:**
Pushing changes into a `bitbucket.org` repository may lead to consistent failure with error `early EOF`.

**Controller Version:** `v0.23.2`

**Logs:**
[code]

[2022-06-17 14:48] mickeahlinder commented on #282
@maxbrunet how do you obtain these panic traces, I've portforwared pprof endpoints and cat get dubug-info at request. But how to get information when the process panics?

[2022-06-17 17:28] maxbrunet commented on #282
Stacktraces are dump in the logs when the process panics, you can get the logs from the last restart with `kubectl logs --previous POD_NAME`

[2022-06-20 07:44] saltyblu commented on #339
Currently, we are using an Autoscaler for our flux deployments. I've disabled that for now.
What I did:
- disabled VPA
- increased Limits for the pods
- followed the guide: https://fluxcd.io/docs/cheatsheets/bootstrap/#increase-the-number-of-workers
  - Increase the number of workers

Nothing changed in the behavior, the container is again in CrashLoopBackOff

[code]

[code]

The logs are still th

[2022-06-20 07:52] BertelBB commented on #339
I'm unable to test the images at this time but in my case we are running on AKS (latest default version)

[2022-06-22 10:40] #334 closed

[2022-06-23 16:19] XtremeAI opened #396 "Unexpected downgrade of an application"
Hi there,

In our environments we use Flux's image automation solution to automate delivery of the new software versions with the following setup:  Gitlab container repo > Flux image repository > Flux image policy > Flux image update (image-automation-controller:v0.17.1)

Suddenly today we caught a very strange thing. An application attempted to start up for a couple of minutes from a 2 months old

[2022-06-27 10:37] pjbgf commented on #390
Closing this issue as the fix has been released on [v0.23.4](https://github.com/fluxcd/image-automation-controller/releases/tag/v0.23.4).

[2022-06-27 10:37] #390 closed

[2022-06-27 14:34] sagikazarmark commented on #85
Came across this issue today as well.

For me, it was natural to put the image repository and policy objects next to the workloads, because:

a) image pull secrets are namespace scoped
b) we are planning to move to a multi-tenant model at some point (in which case we won't really have a choice)

We are still thinking about what tenancy model we should choose (repo per tenant, repo per app), but wh

[2022-06-28 08:13] pjbgf commented on #396
@XtremeAI the controller needs to sort the tags so it can understand what is in fact the latest.

In the documentation cover this and how to ensure your image tags are sortable:
https://fluxcd.io/docs/guides/sortable-image-tags/

[2022-06-28 09:23] dewe commented on #339
@aryan9600 Now I've a slim setup in a Kind cluster, but unfortunately I couldn't reproduce the problem. The original cluster setup isn't possible to run in Kind.

I used the same bitbucket git repo (different branch) hoping it was something with the repo structure, but I could not provoke the error.

[2022-06-28 09:46] stefanprodan commented on #85
We do support cross-namespace refs from ImagePolicies to ImageRepositories, so you can place the ImageRepository where the workloads are to reuse the image pull secret, while ImagePolicies and ImageUpdateAutomations can be placed where the tenant GitRepository is, to reuse the SSH secret. Docs here: https://fluxcd.io/docs/components/image/imagerepositories/#allow-cross-namespace-references

[2022-06-28 12:09] sohahm commented on #339
I am still facing this issue.

[2022-06-28 16:05] sagikazarmark commented on #85
@stefanprodan That's what I figured and did eventually, but apparently intuition tells people to pair policies with image repositories, not automations (maybe because there is an actual reference in policies to image repositories or because cross-namespace references are relatively rare in the Kubernetes world).

Maybe this is just a documentation issue, not an architectural one.

[2022-06-28 17:07] Frizlab commented on #85
@sagikazarmark I got the same intuition as you and I think a lot of people do, yes.

[2022-06-28 19:38] sagikazarmark commented on #85
Further thinking about this:

This isn't necessarily enough or practical. Let's say I have a main git repository (managed by an ops team) for flux-system and centrally managed stuff and separate repos for each team.

Team A creates an image repository in their git repo and do what? Send a PR to the main git repo?

The above solution works great as long as there is a single repo or everything is ma

[2022-06-29 09:11] stefanprodan commented on #396
Other people had the same issue when Github Container Registry when down, in the first minutes after it recovered, it served an old cache of tags which fooled Flux into thinking these were the latest. I see no way around this as Flux can’t tell the registry API severs stale data. We may want to add some field to the ImagePolicy to tell Flux to ignore downgrades, but then if you want to rollback an

[2022-06-29 09:18] stefanprodan commented on #85
Flux multi-tenancy implies that the tenant’s GitRepository is defined in their namespace, so all image update objects will be in the tenant’s namespace. Also for multi-tenancy, cross-refs must be disable, docs here: https://github.com/fluxcd/flux2-multi-tenancy

[2022-06-29 12:32] XtremeAI commented on #396
That was my theory because there were issues with Cloudflare / Gitlab that day but I did not have data to proof that Gitlab actually provided the wrong list of tags to be able to blame Gitlab for that. Is that possible to dump responses Flux get from Gitlab somehow?

[2022-07-01 15:15] pjbgf opened #402 "Data Race in SSH Managed Transport"
Intermittently a data race is being detected when running the controller's tests:
[code]

https://github.com/fluxcd/image-automation-controller/runs/7002619539?check_suite_focus=true

Fixed by #430.

[2022-07-07 10:04] pjbgf opened #404 "Validate checksum before consuming golang-with-libgit2 artefacts"
The golang-with-libgit2 project has [recently](https://github.com/fluxcd/golang-with-libgit2/pull/28) started providing signed releases for its artefacts.

The current logic needs to be updated to add said validation:
https://github.com/fluxcd/image-automation-controller/blob/c48f0f985a89f6fe1e5a653096e3ec414c9fb074/hack/install-libraries.sh#L49

[2022-07-07 13:36] Sonlis opened #405 "Reconciler error: early EOF"
I did setup an image repository, image policy and image update automation. The image repository and image policy work correctly, and find the latest image based on the policy.
However, the image-automation-controller returns this error:
[code]
The ImageUpdateAutomation sourceRef is as follows:
[code]

This gitRepository source is also used by the source-controller and can fetch properly the reposi

[2022-07-08 06:41] Sonlis commented on #405
We don't bootstrap through the CLI, we use terraform and generate our own SSH keys and input them into a secret.
The thing is, the ssh key has read/write permissions and we still get this error:
<img width="767" alt="image" src="https://user-images.githubusercontent.com/48835068/177932289-351b34b3-b9c6-4b13-a009-b265fa74cfc6.png">

[2022-07-12 11:16] robertscherbarth commented on #339
Are there any news on this bug to share?

[2022-07-12 11:56] pjbgf commented on #339
@robertscherbarth I am working on a RC version with a potential fix, aiming to release it Today.

[2022-07-12 13:33] pjbgf commented on #339
Here's the release candidate image: `ghcr.io/fluxcd/image-automation-controller:rc-41c0ddc4`.
It would be great if folks experiencing this issue could test it and let us know whether or not it fixes it.

[2022-07-12 14:40] pjbgf commented on #339
For everybody else's benefit, two users experiencing this issue have already confirmed the RC version worked. So we will start working towards getting this merged. Based on the upstream dependencies this may take some time to make its way into the official releases.

Please report any issues or confirm (:heavy_check_mark:) this is working for you.

[2022-07-13 12:44] Sonlis commented on #405
Turns out I forgot to add the flux user to the repository, so it couldn't manage it. Sorry for the inconvenience, managed to have it working now.

[2022-07-13 13:29] sohahm commented on #339
@pjbgf Thank you very much, Paulo. The RC version `rc-41c0ddc4` is working.

[2022-07-18 10:13] pjbgf commented on #339
@saltyblu thanks for sharing this. The log above looks like the end of a goroutines' dump. Do you have access to the entire logs which may provide further insights about the error?

[2022-07-18 10:24] saltyblu commented on #339
[image-automation-controller.log](https://github.com/fluxcd/image-automation-controller/files/9131194/image-automation-controller.log)

[2022-07-25 16:15] bibAtWork commented on #207
### imageupdateautomation.yaml

[code]

### gotk-sync.yaml
[code]

### Source output
[code]
### Images output with k8-cluster sourceref
[code]

### Container Images used
[code]

### Additional Information

- GitHub Enterprise v3.3.7
- Kubernetes: GitVersion:"v1.23.6-dhc", GoVersion:"go1.17.9", Compiler:"gc", Platform:"linux/amd64"
- FluxCD bootstrapped with Terraform fluxcd/flux v0.15.3
- Same err

[2022-07-26 10:41] #405 closed

[2022-08-01 09:03] #339 closed

[2022-08-04 09:22] tibz-enex commented on #271
We have been experiencing a similar problem entailing a raise in our AWS costs. (because of a raise of traffic in our NAT gateway).
We have around 20 image Repositories being scanned by ImageUpdateController (we have few image updates per day, perhaps 5 to 10 in total so approach 2 could do).

We realized the raise in cost post uploading a big file to our github repository (which was around 80 Mb

[2022-08-08 15:26] pjbgf commented on #394
Same as https://github.com/fluxcd/image-automation-controller/issues/405.

[2022-08-08 15:26] #394 closed

[2022-08-10 08:37] pjbgf opened #415 "Libgit2 Intermittent Crash"
The controller is intermittently experiencing a crash during a libgit2 Fetch operation:

[code]

For full log refer to https://github.com/fluxcd/image-automation-controller/issues/339#issuecomment-1187026366.

[2022-08-10 08:39] pjbgf commented on #339
@saltyblu this has now been fixed as of yesterday's release: `ghcr.io/fluxcd/image-automation-controller:v0.24.0`.

The second issue you mentioned will be tracked separately as part of #415.

Thank you for reporting and testing the changes. :bow:

[2022-08-11 12:29] roman-chub opened #418 "ImagePolicy with mixed policy types"
I have an issue with updating image due to the mixed naming of tag which contained both numbers and letters (I'm using `CI_COMMIT_SHORT_SHA` once pushing new image to repo in my gitlab pipeline). It's looking like following:
[code]

Once I tried to use `numerical` policy:
[code]
I got following error:
[code]
If I'm using `alphabetical` policy:
[code]
Image update is working but didn't use the late

[2022-08-11 13:49] pjbgf commented on #418
@roman-chub please take a look at our "sortable image tags" guide: https://fluxcd.io/docs/guides/sortable-image-tags/.

[2022-08-11 14:09] roman-chub commented on #418
@pjbgf thanks for the feedback but I already checked that and don't know what should be changed in pattern. I have no any timestamps or another staff which may be extracted and my `CI_COMMIT_SHORT_SHA` should covered by this `[0-9a-z]+`. Am I not right?

[2022-08-11 18:08] uderik opened #419 "image-automation-controller not working after upgrade"
image-automation-controller v0.24.1 crash loop after update to latest version
log attached

[image-automation-controller.log](https://github.com/fluxcd/image-automation-controller/files/9311074/image-automation-controller.log)

[2022-08-11 18:54] pjbgf commented on #419
@uderik do you mind confirming what version were you running before the update?

Is this happening intermittently or at every reconciliation?

[2022-08-11 20:23] uderik commented on #419
@pjbgf 0.23.5 works fine
0.24.1/0.24.0 versions does not work, crashing after start

[2022-08-11 20:33] darkowlzz commented on #419
Hi, can you provide some more information about your setup? The git provider, self-hosted or managed and parts of  ImageUpdateAutomation and GitRepository spec that can be shared. I've been trying to reproduce it but seems to work fine for me.

[2022-08-11 20:58] darkowlzz commented on #419
Also, can you please enable debug logs by setting `--log-level=debug` in the container arguments.

You can use this patch in your flux kustomization if flux your image-automation-controller is managed by flux itself:
[code]
please adjust any names according to your setup.

[2022-08-12 14:20] andrew-pickin-epi opened #420 "github.com/libgit2/git2go/v31 panic: runtime error: invalid memory address or nil pointer dereference"
### Describe the bug

image-automation-controller crashing.

See below.

### Steps to reproduce

Can not reproduce at will. This happens about once per week or so.

Note: Flux actually behaves as expected short of the pod restarting. The update to repo did occur collectly:
[code]

### Expected behavior

Pod doesn't restart unexpectedly.

### Kubernetes version / Distro / Cloud provider

AWS EKS 1.

[2022-08-12 14:24] pjbgf commented on #420
@andrew-pickin-epi you are using an older version of the image-automation-controller.
We have improved the performance and resilience of the controller over the last months, so can you upgrade to the latest version and try again please?

[2022-08-16 13:03] roman-chub commented on #418
@pjbgf I've tried to make my tag as `$CI_COMMIT_BRANCH-$CI_PIPELINE_IID` to receive something like `sandbox-59` but policy is not even trying to find numerical tag after `sandbox-*`

[code]
and send error messages like below:

[code]
Could you please specify what should be done here to make it workable?

[2022-08-16 14:06] roman-chub commented on #418
@pjbgf I little bit changed pipeline - `$CI_COMMIT_BRANCH-$CI_COMMIT_SHORT_SHA-$CI_PIPELINE_IID` and added new pattern `^sandbox-[a-zA-Z0-9]+-(?P<sha>[0-9]+)` - it works.

[2022-08-17 09:29] mathijshoogland opened #421 "Image-automation-controller crashes (every now and then) when interacting with libgit2 source"
I'm running flux on a (wel actually multiple) AKS cluster(s) on Azure, the source controller is connected to an azure devops repository that uses the libgit2 implementation (this is required by Azure). My controller versions are:

_flux: v0.31.4
helm-controller: v0.22.2
image-automation-controller: v0.24.1
image-reflector-controller: v0.20.0
kustomize-controller: v0.27.0
notification-controller: v

[2022-08-17 10:37] mathijshoogland commented on #421
I've also ran the image-automation-controller with the log-level on debug and have a stacktrace (unfortunately not the entire part) here:

[logs.log](https://github.com/fluxcd/image-automation-controller/files/9358813/logs.log)

It seems that the controller fails because the ssh connection fails, but I'm not sure if that might trigger the crash?
[code]

[2022-08-17 11:55] pjbgf commented on #421
@mathijshoogland thanks for reporting this issue.

How often is it happening? Did this start after you upgraded to the latest version? And if so, what was the last version of the controller you were using?

[2022-08-17 13:16] mathijshoogland commented on #421
I've had the issue before upgrading flux from v0.31.5 to v0.32.0, it happens more with clusters that have many image-update-automation requests. Today there were 20 restarts for a cluster with 75 IUAs (that have an interval of 1m0s).

I'm pretty confident it has something to do with the source controller that fails to fetch every now and then, but not sure how to investigate further.

[2022-08-17 14:14] pjbgf commented on #421
What does the resources consumption (CPU/Memory) look like in the clusters that you can observe this?
Is there any correlation between peak resource consumption and crash times?

[2022-08-18 08:34] mathijshoogland commented on #421
![Screenshot 2022-08-18 at 10 33 42](https://user-images.githubusercontent.com/7372934/185349505-6aadd77f-3acf-49c6-8335-b7dd9ee78aba.png)
It's a bit difficult to pinpoint exactly when a pod reboots, but resource consumption of the image-automation-controller is by far the highest compared with the other components.

[2022-08-18 17:25] kingdonb commented on #420
Please upgrade to the latest version and let us know if this still affects you.

[2022-08-23 08:11] mathijshoogland commented on #421
I've refactored my codebase bringing down the number of image update automations (from +/- 70 to 5). This brings down the restarts and high resource usage. I still see an error every now and then in the logs, but in contrary to the old situation the controller does not crash.
[code]

[2022-08-23 18:13] pjbgf commented on #421
Based on what you said and the graph shared, it looks like the controller was going beyond [the default limits](https://github.com/fluxcd/image-automation-controller/blob/main/config/manager/deployment.yaml#L62-L68), which potentially was causing the crash.

The new error seems to be network related, which is orthogonal to the initially reported error so feel free to close the issue.

[2022-08-23 18:21] #421 closed

[2022-08-24 15:18] PierreBart opened #422 "cannot fetch remote branch: EOF"
## Describe the bug

After upgrading Flux from v2.29.5 to v0.32.0, the Image Automation controller throws the following error:
[code]

This ImageUpdateAutomation object is deployed on the cluster:
[code]

I am facing the same issue in v0.31.5 but not in v0.30.2.

## Expected behavior

The Image Automation controller throws no error.

## Kubernetes version

GKE 1.23.8

## Git provider

Gitlab priva

[2022-08-24 15:23] pjbgf commented on #422
Thank you @PierreBart for reporting the issue.

I suggest we fix this by ignoring the push branch when:
- [Branch ref](https://fluxcd.io/docs/components/source/api/#source.toolkit.fluxcd.io/v1beta2.GitRepositoryRef) is being used.
- The checkout branch is the same as push branch.

For reference, that logic resides at:
https://github.com/fluxcd/image-automation-controller/blob/65e004f1e885037c6a621

[2022-08-25 10:34] #422 closed

[2022-08-25 14:47] pjbgf commented on #370
Managed transport has been deprecated since [v0.24.0](https://github.com/fluxcd/image-automation-controller/blob/main/CHANGELOG.md#0240) and therefore this is no longer required.

[2022-08-25 14:47] #370 closed

[2022-08-25 15:20] kingdonb commented on #420
We think these issues are solved with the default addition of the managed git transport in IAC.

Please let us know if this still reproduces on the latest version for you.

[2022-08-25 15:20] #420 closed

[2022-08-25 15:57] kingdonb commented on #419
We can reopen this issue if it is still affecting you, but for now I am closing it as there has been no response.

[2022-08-25 15:57] #419 closed

[2022-08-29 11:52] rishinair11 commented on #315
Quick update on the above solution, there is no need to delete the `imageupdateautomations.image.toolkit.fluxcd.io` , it reconciles and recognizes the new deploy secret, and the error is solved automatically after running the bootstrap command
 Thank you @Akay7 for the solution.

[2022-09-01 17:30] darkowlzz opened #428 "Include previous image tag in imageupdateautomation notifications"

[2022-09-01 17:30] darkowlzz opened #437 "Allow including the previous image tag in the commit message template"
### Discussed in https://github.com/fluxcd/flux2/discussions/3027

<div type='discussions-op-text'>

<sup>Originally posted by **tun0** August 24, 2022</sup>
The notifications we currently have with Flux v1 (with help of fluxcloud) mention both old and new image tags.

With Flux v2, only the new image tag is mentioned.

It would be very nice if the previous tag would be made available as well in t

[2022-09-03 05:14] pjbgf commented on #415
I captured another instance of this issue yesterday running on v0.24.2.

### Points of Note
- The controller runs initially for over 10h with no issues.
- Three failures within a minute cause the controller to restart. The error message was `ssh: handshake failed: ssh: unable to authenticate, attempted methods [none publickey], no supported methods remain`, but no changes to the credentials took p

[2022-09-03 06:07] stefanprodan commented on #415
@pjbgf does this means the panic recovery we’ve enabled recently doesn’t work?

[2022-09-03 19:42] pjbgf commented on #214
Closing this issue due to inactivity, but happy to reopen in case of reincidence whilst using the latest versions of the image automation controller.

[2022-09-03 19:42] #214 closed

[2022-09-05 08:56] pjbgf commented on #371
This ended up being a metric related red herring and can now be safely closed.
The graph in the description was not considering the rate over time, so objects with low interval rates were skewed compared to others:

![Screenshot from 2022-09-03 04-20-03](https://user-images.githubusercontent.com/5452977/188409896-d0cf2640-65df-4e03-8076-5fdb3e7124fb.png)

The investigation resulted on #431.

[2022-09-05 08:56] #371 closed

[2022-09-05 12:28] pjbgf commented on #415
I believe there are a few scenarios in which the panic recovery would not be able to help us, such as panics arising from go routines. When considering libgit2 that could be quite a reasonable scope, as transport level panics and CGO interactions would be part of that blindspot.

[2022-09-07 22:56] kingdonb commented on #134
There's nobody manually managing the configmap, maybe you mean that you need a separate Flux Kustomization to apply them to the cluster, or a separate directory of manifests than the one that your Jsonnet is using, but that configmap is just a receiver for the information that Flux is going to need to have been injected into the cluster, later on when you're reconciling.

You put the image marker

[2022-09-09 08:30] poojaac opened #433 "ImageUpdateAutomation not respecting the interval specified"
We have configured ImageUpdateAutomation and have given the interval of 24h to make the flux update the images once in a day. But ImageUpdateAutomation is not respecting the interval specified and updating the Git repo when the image-policy is picking the latest image.

Also, if a git path is specified to updated the image versions and markers are added in the file, the ImageUpdateAutomation is no

[2022-09-09 08:37] stefanprodan commented on #433
Duplicate of:https://github.com/fluxcd/image-automation-controller/issues/313

[2022-09-09 08:37] #433 closed

[2022-09-09 13:14] kingdonb commented on #134
That's very helpful to add clarity. A lot of people say "can you make Image Update Automation more like Flux v1" and what they generally mean can be very hard to interpret, for a lot of values of that question the answer is "no, the change was 100% deliberate, we can't put it back for performance reasons" etc...

`AnnotationSetters` actually sounds like a really solid idea now that you've explaine

[2022-09-09 18:02] danielkimuipath opened #435 "Uninstall does not delete Image automation CRD"
Hi, I'm using Image automation CRDs in my cluster. My cluster is has a set up to fetch images from Azure ACR and there was an issue with fetching the images. So I tried to uninstall the flux and reinstallling the flux, but `flux uninstall` command does not clean up the image automation ACRs.

[code]
after the delete
[code]

Even I tried to force delete, it still does not work:
[code]
Can someone h

[2022-09-09 18:30] danielkimuipath commented on #435
This seems to be the finalizer setting in the CRD - once the finalizers are removed manually, CRD were cleaned up. However, I believe this needs to be sorted by `flux uninstall` command

[2022-09-10 06:20] stefanprodan commented on #435
Are you using the latest version of Flux? If not get the latest and see if it fixes the issue for you.

[2022-09-12 10:42] stefanprodan commented on #134
@toddkazakov I think it's worth implementing `AnnotationSetters`, for this we'll need an [RFC](https://github.com/fluxcd/flux2/tree/main/rfcs). Would you be able to drive this? I can sponsor the RFC if you're up to it. Thanks!

[2022-09-12 21:01] danielkimuipath commented on #435
Here is the flux version of the issue:
[code]

[code]

I will update it with newest version of flux shortly

[2022-09-13 19:57] danielkimuipath commented on #435
[code]

After:
[code]

This issue still exists with `ocirepositories.source.toolkit.fluxcd.io` crd

[2022-09-13 20:04] danielkimuipath commented on #435
[code]

[code]

I see finalizer is still there after the deletion, which I had to update manually.

This issue went aware with other crd like
[code]

[2022-09-13 20:04] danielkimuipath commented on #435
Also, I downloaded fluxcd via terrafrom provider 0.18.0 which is the [latest ](https://registry.terraform.io/providers/fluxcd/flux/latest)

[2022-09-14 13:22] darkowlzz commented on #437
Based on the discussion in https://github.com/fluxcd/image-reflector-controller/pull/311#issuecomment-1246683794 , this is not related to the image selected by the ImagePolicy, but it's about the old value being replaced by the new value in git manifest file.
An ImageUpdateAutomation notification can include the information about that old and new value in the manifest that it updated.

[2022-09-21 06:01] bibAtWork commented on #207
@pjbgf @stefanprodan
updating fluxcd/image-automation-controller to v0.24.2 fixed the problem. Thanks for you continuous commitment to the project

[2022-09-21 12:45] kingdonb commented on #435
I think this may be resolved in Flux 0.34.0

There are some labels which are placed on the Flux CRDs to make them detected for the uninstaller to delete them. I noticed in a recent version that for some reason, I was not seeing `OCIRepository` deleted, for example. When I upgraded to Flux 0.34.0, I noticed that issue went away. (I was also testing with Flux 0.33.x prior to that when I noticed the

[2022-09-28 10:44] pjbgf commented on #415
As discussed with @aryan9600 this seems to be fixed by upgrading libgit2 to version `v1.5.0`.

[2022-10-03 18:01] paha commented on #415
I am having the same issue with my clusters.
When to expect the upgrade of the newer version for libgit2?

[2022-10-03 18:03] aryan9600 commented on #415
@paha we are in the process of doing some extensive testing, so it'll take some time. meanwhile, could you please share how often is it crashing by running `kubectl get pods -n flux-system`? thanks

[2022-10-03 18:52] paha commented on #415
I have about 17 image update automation, with intervals of 1 minute.
For the version

On a cluster where I run `image-automation-controller: v0.26.0` it seems to be handling exceptions better, I assume it is the panic recovery handling

[2022-10-03 19:05] aryan9600 commented on #415
14 restarts in less than 2 hours doesn't seem intermittent. could you also share the logs of the controller before it crashes by running`kubectl logs -n flux-system image-automation-controller-5878875558-dbdt7 --previous`? thanks

[2022-10-03 19:16] paha commented on #415
The panic is essentially the same as in the issue

<details>
  <summary>Click me for log</summary>

[code]
</details>

[2022-10-04 06:24] pjbgf commented on #415
@paha we have recently released a RC version with the latest changes to image automation controller. Can you please use the image below and check whether it fixes the problem you are experiencing?

`ghcr.io/fluxcd/image-automation-controller:rc-8f7a773c`

It would be great if you could report back any issues or improvements you observe.

[2022-10-05 16:45] paha commented on #415
Tried the rc image on a few clusters. Still periodic panics in a similar way, though less frequent, the root causes is the same.
Both clusters run identical workloads and configurations.

[code]

Cluster 1
[code]

Cluster 2
[code]

[2022-10-06 09:04] pjbgf commented on #415
@paha thanks for sharing the stats, the crash rate you are experiencing is quite frequent compared to what we experience in our tests, do you mind sharing more extra information:

- Are this on prem or in the cloud?
- What provider are you using for your Git repository (GitHub, GitLab, etc.)? Are the repositories large in terms of refs (tags/branches), history or overall number (or size) of files?

[2022-10-06 17:10] paha commented on #415
The frequency is likely related to the concurrency and the number of image sources used. The clusters that have identical configs and workloads, panics of the image automation controller frequency differ, and the reasons are not clear.

* The clusters are AWS EKS in us-west-2. Cilium CNI.
* All repositories are in GitHub, the sizes of repos are small by all measures.
* Image automation resources a

[2022-10-06 17:26] pjbgf commented on #402
Closing this as technically done as part of `git-refactoring`. It will merge into `main` as part of https://github.com/fluxcd/pkg/issues/245, so we can track that issue instead.

[2022-10-06 17:26] #402 closed

[2022-10-10 13:08] pjbgf commented on #415
@paha In some of my tests I noticed that Go's Garbage Collection (GC) pressure can cause the controllers that use `libgit2` to panic more frequently. Here are some optimisations I did to decrease GC pressure:
- Increase Pod memory limit.
- Increase GOGC. On my setup 500% seemed the ideal value, but this may need some tweaking.
- Adjust `GOMEMLIMIT` to a number 20-30% smaller than the Pod memory li

[2022-10-11 16:22] paha commented on #415
@pjbgf thank you. I will find time later today to make those adjustments and will communicate back the results.

[2022-10-14 15:49] paha commented on #415
Improved resource management is helpful it seems, though on some clusters it is harder to see a difference. I might look into adjusting some of it, will keep an eye on the issue.

[2022-10-18 21:39] cpressland commented on #117
@stefanprodan given the upstream bug on this is now resolved is any work on this planned? We're trying to enforce linters in our gitops repos and many code formatters like `yamlfmt` and `yamlfix` all prefer indenting lists with an additional two spaces. To be clear I'm happy with either convention, I just can't configure flux or the linters to a single convention - configurability is never a bad t

[2022-10-25 16:26] jamesloosli opened #450 "Git pushes to different branch are behind the base branch."
Hi Y'all,

I'm implementing a workflow where my image update automation flows are updating a different target branch vs the source branch. This seems to be working, but the target branch becomes stale very quickly (we have our flux manifests in a monorepo with ~30 services). Because the branch becomes out of date, automated PR's require manual rebase.

My preferred behavior would be for the image-

[2022-10-25 22:08] cep21 commented on #450
I am in the same situation with a large kub cluster as well.  I wonder if there should be an info message in the controller logs when this happens at least?

We push to branches so we can run some basic CI/CD on the PR at the github level, before auto merging the PR.

One workaround I am thinking about is force deleting the remote branch if it is stale.

[2022-10-28 13:06] pjbgf commented on #450
This becomes even more relevant when using `go-git` (WIP) with `ShallowClones` enabled. I will propose a PR to this effect and share an RC image for tests.

[2022-11-03 08:05] pjbgf opened #454 "Improve Git Tests"
Areas of improvements for IAC Git testing coverage:

- [ ] Remove libgit2 dependencies for running tests
- [ ] Add tests for HTTPS repositories
  - [ ] Self-signed certificates

[2022-11-03 14:25] pjbgf commented on #450
@jamesloosli @cep21 can you please try the RC image below to confirm that it resolves the problem you are experiencing?

`ghcr.io/fluxcd/image-automation-controller:rc-842c6d78`

[2022-11-04 11:14] #450 closed

[2022-11-11 09:19] aryan9600 opened #457 "[RFC-004] Add new flag --insecure-allow-http"
Implement [RFC-004](https://github.com/fluxcd/flux2/tree/main/rfcs/0004-insecure-http) by adding a new flag --insecure-allow-http which would block/unblock the use of HTTP connections by the controller.

[2022-11-17 22:44] ChrisJBurns commented on #355
Going going through some of the issues on my list, @pjbgf @stefanprodan  following on from the above, is it something that we can do regarding adding the `spec.SignedTagsOnly` option to the IAC to only observe signed images? As the other two options don't seem as solid with regards to security.

[2022-11-21 11:24] pjbgf commented on #415
After extensive tests, the best approach for mitigating panic was to move on from `libgit2` as `gitImplementation` and use `go-git` instead, which is the default behaviour as of `v0.27.0`.

For more information, please refer to the [v0.27.0 changelog](https://github.com/fluxcd/image-automation-controller/blob/main/CHANGELOG.md#0270).

I am closing this for the time being. If users continue to expe

[2022-11-21 11:24] #415 closed

[2022-11-22 12:58] pjbgf commented on #271
Just as a follow-up on the subject, we have now implemented `go-git` as the default Git implementation for the controller.
This opens up a new route, which would be to enable shallow clones, which is currently not supported but should be fairly straight-forward to implement it.

That would bring network bandwidth savings for clone operations. I looked at it recently and it worked fine, although th

[2022-11-29 00:33] fabidick22 commented on #415
After upgrating to version v0.37.0 (`image-automation-controller:v0.27.0`) of flux with the terraform provider, we started getting `OOMKilled` events in this controller.
The controller seems to work fine after the update, but after a few minutes it starts getting `OOMKlling` events and then in a `CrashLoopBackOff` state. After the first restart, it seems to use more resources. I had to roll back t

[2022-11-29 06:45] aryan9600 commented on #415
hey @fabidick22, we have observed this in the past. we released a RC image which uses shallow clones to help with this. could you use this image instead: `ghcr.io/fluxcd/image-automation-controller:rc-0d41741b` and start the controller with `----feature-gates=GitShallowClone=true`. thanks

[2022-11-29 18:43] srgvg opened #466 "Multiple empty commits since flux2 v0.37"
[Initially discussed in slack](https://cloud-native.slack.com/archives/CLAJ40HV3/p1669739085669969)
[code]
This started after upgrading to `0.37`:
[code]
I get such a commit like every 5s

At some point, restarting the image-automation controller stopped that, however some time later it had restarted again. I think I experienced that twice, however not realising exactly enough what was happening,

[2022-11-29 19:00] pjbgf commented on #466
Thank you for reporting this @srgvg. I have been trying to reproduce this in the last hour with no luck so far.

(cc @aryan9600)

[2022-11-29 21:42] fabidick22 commented on #415
Thanks @aryan9600
That works!! Any plan to release the changes of the `rc-0d41741b` image?

[2022-11-30 11:16] aryan9600 commented on #466
hi @srgvg, could you also please share the relevant `ImageUpdateAutomation` objects? thanks

[2022-11-30 13:15] srgvg commented on #466
[code]

[2022-11-30 13:38] srgvg commented on #466
Just found out that I disabled earlier the `ImageUpdateAutomation` object, which was the reason this issue stopped happening. Just re-enabled it, and it does happen again now.

 The `image-automation-controller` immediately reacts, and starts with doing 3 empty commits, the first showing up as
[code]
About 3 minutes later, it makes again 3 empty commits. Relevant logs are
[code]
After that again a

[2022-11-30 13:44] srgvg commented on #466
I set log level to debug on both `image-*` controllers.

At and after restart I now get

for the `image-automation-controller`:
[code]
and for the `image-reflector-controller`:
[code]

[2022-11-30 15:00] pjbgf commented on #466
Changes required upstream in order to avoid the creation of empty commits: https://github.com/go-git/go-git/pull/623 https://github.com/fluxcd/go-git/pull/11.

Further investigation still needed to understand why this is happening.

[2022-11-30 15:46] pjbgf commented on #466
@srgvg Does the repo where you observed this behaviour, have any of the below?
- Symlinks
- Git submodules
- Git recurse submodules

[2022-11-30 15:52] srgvg commented on #466
None. I does have a couple of `GitRepository,spec.include` repo's.

[2022-11-30 16:00] srgvg commented on #466
Done & verified
[code]
Seems like only a partial fix. Where I had 3 commit's in a row every `$interval`, I now have two:
[code]